.model-card-container {
  width: fit-content;
}

.model-index {
  text-align: right;
  font-size: 0.875rem;
}

.model-card-image-container {
  position: relative;
  width: 10rem;
  aspect-ratio: 1 / 1.1;
}

.model-card-image {
  object-fit: cover;
}

@media (hover: hover) and (pointer: fine) {
  /* make the model card grayscale when hovered */
  .model-card-wrapper:has(.model-card-link:hover)
    .model-card-container:not(.active) {
    filter: grayscale(100%) blur(2px);
    transition: filter 1s ease;
  }

  .model-card-wrapper:has(.model-card-link:hover) .model-card-container.active {
    filter: none;
    transition: filter 1s ease;
  }

  .model-card-container {
    transition: filter 1s ease;
  }
}

@media screen and (max-width: 992px) {
  .model-card-container {
    width: 100%;
  }

  .model-card-image-container {
    width: 100%;
  }
}
