.model-card-container {
  width: fit-content;
}

.model-index {
  text-align: right;
  font-size: 0.875rem;
  margin-bottom: 0.75rem;
}

.model-card-link {
  display: block;
  position: relative;
  width: fit-content;
}

.model-card-image-container {
  position: relative;
  width: 10rem;
  aspect-ratio: 1 / 1.1;
}

.model-card-image {
  object-fit: cover;
}

.mobile-model-name {
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  /* make the model card grayscale when hovered */
  .model-card-wrapper:has(.model-card-link:hover)
    .model-card-container:not(.active) {
    filter: grayscale(100%) blur(2px);
    transition: filter 1s ease;
  }

  .model-card-wrapper:has(.model-card-link:hover) .model-card-container.active {
    filter: none;
    transition: filter 1s ease;
  }

  .model-card-container {
    transition: filter 1s ease;
  }
}

@media screen and (max-width: 992px) {
  .model-card-container {
    width: 100%;
  }

  .model-card-image-container {
    width: 100%;
    aspect-ratio: 1/1;
  }
}

@media screen and (max-width: 480px) {
  .model-card-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    flex-shrink: 0;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .model-index,
  .model-card-image-container {
    width: 11rem;
  }

  .model-card-image-container {
    aspect-ratio: 1 / 1;
  }

  .mobile-model-name {
    display: block;
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    font-size: 2rem;
    text-align: center;
  }
}
