.home-about-text {
  text-align: center;
  width: 85%;
  margin: 0 auto;
  font-weight: 500;
  font-size: var(--sm-heading);
  line-height: 1.6;
}

@media screen and (max-width: 768px) {
    .home-about-text {
        width: 95%;
    }
}