.mobile-footer-container {
  background-color: var(--color-footer-bg);
  color: var(--color-lighter-text);
  margin-top: 5rem;
  padding: 2rem 0 1rem;
  overflow: hidden;
}

.mobile-footer-info-container {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) * 1.6);
}

.mobile-info-heading {
  margin-bottom: 0.875rem;
  font-weight: 400;
  opacity: 0.7;
}

.mobile-contact p {
  margin-top: 0.875rem;
}

.mobile-all-links-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);
    margin: 2rem 0 1.5rem;
}

.mobile-social-links-container,
.mobile-footer-links {
    gap: 0.875rem;
}

.mobile-footer-links {
    align-items: flex-end;
}

.mobile-creator-brand-container {
    overflow: hidden;
}

.mobile-creator {
    text-align: center;
}

.mobile-footer-brand-container {
    width: 100%;
}

.mobile-footer-brand {
  text-transform: uppercase;
  font-size: var(--mobile-xl-heading);
  opacity: 0.6;
  font-weight: 700;
  white-space: nowrap;
}

.mobile-brand-models {
  -webkit-text-stroke: 1px var(--color-lighter-text);
  -webkit-text-fill-color: transparent;
}

