.home-models-container {
  position: relative;
}

.home-models-visual-details-container {
  gap: calc(var(--gap) * 3.2);
}

.home-models-heading {
  position: sticky;
  top: 4.5rem;
  font-size: var(--l-heading);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -10px;
}

.home-models-cards-container {
  margin-top: 12rem;
  gap: calc(var(--gap) * 5.2);
}

.home-models-cards-container .link {
  font-weight: 500;
  align-self: center;
}
