.contact-form-container {
  position: relative;
  width: min(70%, 50rem);
  margin: -1.5rem 0 0 auto;
  z-index: 9;
}

.contact-form-group {
  display: flex;
  gap: calc(var(--gap) * 3.2);
}

.contact-form-input-group {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) * 1.6);
}

.contact-form-input-group .styled-input-container,
.contact-form-input-group .styled-select-container {
  width: 100%;
}

.contact-form-textarea-container {
  position: relative;
  width: 50%;
}

.contact-form-textarea {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--color-lighter-text);
  color: var(--color-lighter-text);
  padding: 0.35rem;
  line-height: 1.4;
}

.contact-form-textarea::placeholder {
  color: var(--color-lighter-text);
  font-size: 0.9rem;
  opacity: 0.9;
  font-style: italic;
}

.contact-form-container .form-btn-container {
  width: 100%;
  margin-top: 3rem;
}
