.mobile-header {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 1.5rem 5% 0;
  z-index: 5;
  transition: transform 0.25s linear;
}

.mobile-header .logo {
  color: var(--color-text);
  z-index: 5;
}

.mobile-header .logo.nav-open {
  color: var(--color-lighter-text);
}

.mobile-nav {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: var(--gap);
  min-height: 100svh;
  color: var(--color-lighter-text);
  background-color: var(--color-footer-bg);
  padding: 0 5%;
}

.mobile-nav-list {
  border-top: 1px solid var(--color-light-text);
  padding: calc(var(--gap) / 2) 0;
  width: 100%;
}

.mobile-nav-list:nth-child(2) {
  padding-left: 40%;
}

.mobile-nav-list:nth-child(3) {
  padding-left: 15%;
}

.mobile-nav-list:nth-child(4) {
  padding-left: 65%;
}

.mobile-nav-list:nth-child(5) {
  padding-left: 45%;
}

.mobile-nav-list:nth-child(6) {
  padding-left: 10%;
}

.mobile-nav-list:nth-child(7) {
  border-bottom: 1px solid var(--color-light-text);
}

.mobile-nav-list:nth-child(7) .link {
  margin-left: auto;
}

.mobile-nav-list .link {
  font-size: clamp(1.6rem, 4vw, 1.85rem);
  opacity: 0.8;
}

.mobile-menu-btn {
  z-index: 5;
}

.mobile-menu-btn.nav-open svg path {
  fill: var(--color-lighter-text);
}

.mobile-menu-btn svg {
  font-size: var(--md-button);
  color: var(--color-text);
}

.nav-footer-container {
  gap: calc(var(--gap) * 0.8);
}

.nav-footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--gap) * 1.6);
  opacity: 0.7;
}

.nav-footer-image-container {
  position: relative;
  width: 100%;
  height: 5rem;
}

@media screen and (max-width: 480px) {
  .mobile-nav {
    gap: calc(var(--gap) * 1.2);
  }

  .mobile-nav-list {
    padding: calc(var(--gap) / 1.6) 0;
  }

  .nav-footer-links {
    gap: calc(var(--gap) * 1.3);
  }

  .nav-footer-links a {
    font-size: 0.9375rem;
  }

  .nav-footer-container {
    gap: calc(var(--gap) * 1);
  }
}
