.mobile-header {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  padding: 1.25rem 5%;
  z-index: 5;
  transition: transform 0.25s linear;
  background-color: none;
  background-color: #fdfdfd9e;
  backdrop-filter: blur(5px);
}

/* .mobile-header::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #fdfdfd9e;
  backdrop-filter: blur(7px);
  z-index: -1;
} */

.mobile-header .logo {
  color: var(--color-text);
  z-index: 5;
}

.mobile-header .logo.nav-open {
  color: var(--color-lighter-text);
}

.mobile-nav {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: var(--gap);
  min-height: 100svh;
  color: var(--color-lighter-text);
  background-color: var(--color-footer-bg);
  padding: 0 5%;
}

.mobile-nav-list {
  border-top: 1px solid var(--color-light-text);
  padding: calc(var(--gap) / 2) 0;
  width: 100%;
}

.mobile-nav-list:nth-child(2) {
  padding-left: 40%;
}

.mobile-nav-list:nth-child(3) {
  padding-left: 15%;
}

.mobile-nav-list:nth-child(4) {
  padding-left: 65%;
}

.mobile-nav-list:nth-child(5) {
  padding-left: 45%;
}

.mobile-nav-list:nth-child(6) {
  padding-left: 10%;
}

.mobile-nav-list:nth-child(7) {
  border-bottom: 1px solid var(--color-light-text);
}

.mobile-nav-list:nth-child(7) .link {
  margin-left: auto;
}

.mobile-nav-list .link {
  font-size: clamp(1.6rem, 4vw, 1.85rem);
  opacity: 0.8;
}

.nav-footer-container {
  gap: calc(var(--gap) * 0.8);
}

.nav-footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--gap) * 1.6);
  opacity: 0.7;
}

.nav-footer-image-container {
  position: relative;
  width: 100%;
  height: 5rem;
}

.mobile-menu {
  z-index: 5;
}

.mobile-menu-btn {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 2rem;
}

.mobile-menu-line {
  width: 100%;
  height: 0.125rem;
  background-color: var(--color-text);
  transition: transform 300ms ease;
}

.mobile-menu-btn.nav-open .mobile-menu-line {
  background-color: var(--color-lighter-text);
  transition: transform 300ms ease;
}

.mobile-menu-btn.nav-open .mobile-menu-line-1 {
  transform: rotate(45deg) translateY(250%) translateX(8%);
}

.mobile-menu-btn.nav-open .mobile-menu-line-2 {
  transform: rotate(-45deg) translateY(-250%);
}

.time-container {
  z-index: 5;
}

.time {
  font-size: 0.975rem;
  opacity: 0.9;
  transition: all 300ms ease;
}

.time.nav-open {
  color: var(--color-lighter-text);
  opacity: 0.7;
  transition: all 300ms ease;
}

@media screen and (max-width: 480px) {
  .mobile-nav {
    gap: calc(var(--gap) * 1.2);
  }

  .mobile-nav-list {
    padding: calc(var(--gap) / 1.6) 0;
  }

  .nav-footer-links {
    gap: calc(var(--gap) * 1.3);
  }

  .nav-footer-links a {
    font-size: 0.9375rem;
  }

  .nav-footer-container {
    gap: calc(var(--gap) * 1);
  }
}
