.brands-container {
  margin-top: 14rem;
  width: 90%;
  height: max-content;
  display: flex;
  justify-content: space-between;
  gap: var(--gap);
}

.brands-text-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 40%;
  align-self: flex-end;
}

.brands-text-container h4 {
  font-size: var(--heading);
  letter-spacing: -3px;
  font-weight: 500;
}

.brands-list {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--gap) * 0.8) calc(var(--gap) * 1.6);
}

.brand {
  white-space: nowrap;
}

.brands-text-container a {
  font-size: var(--sm-button);
  font-weight: 500;
}

.brands-video-container {
  position: relative;
  width: 60%;
  height: 40rem;
  margin-bottom: 12rem;
}

.brands-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 992px) {
  .brands-container {
    margin-top: 10rem;
    width: 100%;
    gap: calc(var(--gap) * 1.2);
  }

  .brands-video-container {
    width: 55%;
    aspect-ratio: 1/1.2;
    margin-bottom: 10rem;
  }
}

@media screen and (max-width: 768px) {
  .brands-container {
    margin-top: 7rem;
    width: 100%;
    gap: calc(var(--gap) * 1.6);
    flex-direction: column-reverse;
    align-items: center;
  }

  .brands-video-container {
    width: 80%;
    aspect-ratio: 1/1.2;
    margin-bottom: 0;
  }

  .brands-text-container {
    width: 80%;
    align-self: unset;
  }
}

@media screen and (max-width: 480px) {
  .brands-video-container {
    width: 100%;
    height: min(75vh, 32rem);
  }

  .brands-text-container {
    width: 100%;
  }

  .brands-list {
    gap: calc(var(--gap) * 0.8) calc(var(--gap) * 1.2);
  }
}
