.about-image-container {
  margin: 6rem 0;
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) * 5);
}

.about-image {
  position: relative;
  width: 100%;
  height: 48rem;
  max-height: 48rem;
}

.about-image img {
  object-fit: cover;
}

.about-image-container h3 {
  font-size: var(--page-heading);
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
