.model-index {
  text-align: right;
  font-size: 0.875rem;
}

.model-card-image-container {
  position: relative;
  width: 10rem;
  aspect-ratio: 1 / 1.1;
}

.model-card-image {
  object-fit: cover;
}

.model-name-preview {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: var(--md-heading);
  font-weight: 700;
  text-align: center;
}
