.model-index {
  text-align: right;
  font-size: 0.875rem;
}

.model-card-image-container {
  position: relative;
  width: 10rem;
  aspect-ratio: 1 / 1.1;
}

.model-card-image {
  object-fit: cover;
}
