.hero-container {
  position: relative;
  padding-top: 15vh;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) * 2.4);
}

.hero-heading {
  font-size: var(--md-heading);
  width: 80%;
  font-weight: 600;
}

.hero-content-container {
  display: flex;
  align-items: flex-end;
  gap: var(--gap);
}

.hero-image-cta {
  width: 80%;
}

.cta-container {
  margin-bottom: 1.5rem;
}

.cta-container a {
  font-size: var(--sm-button);
  font-weight: 500;
}

.hero-image-container {
  position: relative;
  width: 100%;
  height: 32rem;
}

.hero-image-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-overlay);
  z-index: 2;
}

.hero-image {
  object-fit: cover;
}

.hero-subtitle {
  width: 20%;
}
