.contact-form-container {
  position: relative;
  width: min(70%, 50rem);
  margin: -1.5rem 0 0 auto;
  z-index: 2;
}

.contact-form-group {
  display: flex;
  gap: calc(var(--gap) * 3.2);
}

.contact-form-input-group {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) * 1.6);
}

.contact-form-input-group .styled-input-container,
.contact-form-input-group .styled-select-container {
  width: 100%;
}

.contact-form-textarea-container {
  position: relative;
  width: 50%;
}

.contact-form-textarea::placeholder {
  color: var(--color-lighter-text);
  font-size: 0.9rem;
  opacity: 0.9;
  font-style: italic;
}

.contact-form-container .form-btn-container {
  width: 100%;
  margin-top: 3rem;
}

@media screen and (max-width: 960px) {
  .contact-form-container {
    width: 80%;
    margin: -1rem 0 0 auto;
  }

  .contact-form-container .form {
    padding: 3rem;
  }

  .contact-form-group {
    display: flex;
    gap: calc(var(--gap) * 1.6);
  }
}

@media screen and (max-width: 768px) {
  .contact-form-container {
    width: 100%;
    margin: 1.5rem 0 0;
  }
}

@media screen and (max-width: 620px) {
  .contact-form-group {
    gap: calc(var(--gap) * 1.6);
    flex-direction: column;
  }

  .contact-form-textarea-container {
    width: 100%;
    height: 10rem;
  }
}

@media screen and (max-width: 480px) {
  .contact-form-container .form {
    padding: 2rem;
  }
}
