:root {
  /* colors */
  --color-primary: #795119;
  --color-bg: #fdfdfd;
  --color-footer-bg: #0f0f0f;
  --color-text: #333;
  --color-light-text: #888;
  --color-lighter-text: #fafafa;
  --color-overlay: rgba(0, 0, 0, 0.2);
  --color-dark-overlay: rgba(0, 0, 0, 0.75);
  --color-white: #fff;
  --color-mix: #ddd;
  --color-error: #ff4d4f;
  --color-success: #52c41a;

  /* font sizes */
  --xxl-heading: 22.5rem; /* max 22.5rem */
  /* --xl-heading: clamp(5rem, 12vw, 10rem); */
  --xl-heading: 10rem;
  --mobile-xl-heading: 7rem;
  --l-heading: clamp(4rem, 7vw + 0.3rem, 7rem); /* max 7rem */
  --md-heading: clamp(2rem, 7vw + 0.3rem, 5rem); /* max 5rem */
  --heading: clamp(2.25rem, 3vw, 3rem); /* max 3rem */
  --sm-heading: clamp(1.5rem, 3.25vw + 0.15rem, 2.5rem); /* max 2.5rem */
  --page-heading: clamp(2.5rem, 7vw, 4rem);
  --xl-text: 1.5rem;
  --l-text: 1.25rem;
  --md-text: 1.125rem;
  --text: 1rem;
  --sm-text: 0.9rem;
  --xs-text: 0.85rem;
  --xl-button: 2.5rem;
  --md-button: 1.5rem;
  --button: 1.25rem;
  --sm-button: 1.125rem;

  --gap: 1.25rem;

  font-family: var(--font-montserrat), sans-serif;
}

/* basic resets */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: var(--color-bg);
  color: var(--color-text);
  overflow: auto;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: var(--text);
}

p {
  font-size: var(--text);
  line-height: 1.5;
  font-weight: 400;
}

input,
select,
textarea {
  font-family: var(--font-montserrat), sans-serif;
  font-size: 1rem;
}

textarea {
  resize: none;
}

input::placeholder,
textarea::placeholder {
  font-size: 0.875rem;
  opacity: 0.7;
  font-style: italic;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  font-family: var(--font-montserrat), sans-serif;
  line-height: 1;
}

span {
  display: inline-block;
}

::-webkit-scrollbar {
  width: 4px;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}
