.apply-form-container {
  width: 75%;
  max-width: 50rem;
  margin: 10rem auto 0;
}

.apply-form-input-group {
  display: flex;
  align-items: flex-end;
  gap: calc(var(--gap) * 3.2);
}

.apply-form-input-group:not(:last-child) {
  margin-bottom: 2rem;
}

@media screen and (max-width: 960px) {
  .apply-form-container {
    width: 100%;
    margin: 7rem auto 0;
  }
}

@media screen and (max-width: 768px) {
  .apply-form-container .form {
    padding: 3rem 2rem;
  }

  .apply-form-input-group {
    gap: calc(var(--gap) * 1.6);
  }
}

@media screen and (max-width: 600px) {
  .apply-form-container .form {
    padding: 3rem;
  }

  .apply-form-input-group {
    flex-direction: column;
    align-items: flex-start;
    gap: calc(var(--gap) * 1.6);
  }

  .apply-form-input-group .styled-input-container,
  .apply-form-input-group .styled-select-container,
  .apply-form-input-group .form-btn-container {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .apply-form-container .form {
    padding: 3rem 2rem;
  }
}
