.form-btn-container {
  width: 50%;
  position: relative;
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
}

.form-btn {
  font-size: var(--button);
  font-weight: 700;
  line-height: 1;
  background: none;
  border: none;
  color: var(--color-lighter-text);
  cursor: pointer;
  font-family: var(--font-montserrat), sans-serif;
}
