.form-btn-container {
  width: 50%;
  position: relative;
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
}

.form-btn {
  font-size: var(--button);
  font-weight: 700;
  color: var(--color-lighter-text);
}
