.styled-input-container {
  width: 50%;
  position: relative;
}

.styled-input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--color-lighter-text);
  color: var(--color-lighter-text);
  padding: 0.35rem;
}

.styled-input::file-selector-button {
  background-color: var(--color-primary);
  color: var(--color-lighter-text);
  border: 1px solid var(--color-lighter-text);
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  font-family: var(--font-montserrat), sans-serif;
  font-size: 0.875rem;
}
