.testimonials-section {
    margin-top: 7rem;
}

.testimonials-heading {
    font-size: var(--md-heading);
  font-weight: 500;
  letter-spacing: -7px;
  text-align: right;
}

.testimonials-container{
    margin-top: 5rem;
    display:flex;
    justify-content: space-between;
    gap: calc(var(--gap) * 3.2);
}

.testimonial-card {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    min-height: 100%;
    gap: calc(var(--gap) * 2);
}

.textimonial {
    font-style: italic;
    font-size: 0.9375rem;
}

.testimonial-author{
    font-weight: 500;
}