.gallery-section-container {
    /* margin-top: 7rem; */
}

.gallery-media-container {
    display: flex;
    flex-direction: column;
    width: 22rem;
    aspect-ratio: 1.2 / 1;
    gap: calc(var(--gap) * 1.2);
}