.models-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: var(--gap);
}

.models-heading-filter {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) * 1);
}

.models-filter-container {
    display: flex;
    justify-content: space-between;
    gap: var(--gap);
    width: 100%;
}

.models-filter-btn {
    background: none;
    border: none;
    font-size: var(--text);
}

.filter-number{
    display: inline-block;
    margin-left: 0.2rem;
}

.models-subheading {
  width: 40%;
}
