.home-model-error-title,
.home-model-error-prompt {
  text-align: center;
  width: 80%;
  margin-inline: auto;
}

.home-model-error-title,
.model-error-title {
  font-size: var(--l-text);
  font-weight: 500;
}

.model-error-container {
  width: 80%;
  margin: 5rem auto 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}
