.home-model-error-title,
.home-model-error-prompt {
  text-align: center;
  width: 80%;
  margin-inline: auto;
}

.home-model-error-title,
.model-error-title {
  font-size: var(--xl-text);
}

.model-error-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}
