.home-model-card-container {
  gap: calc(var(--gap) * 1.2);
  align-items: center;
  text-align: center;
}

.home-model-image-container {
  position: relative;
  width: 16rem;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.home-model-image {
  object-fit: cover;
}

.home-model-name {
  text-transform: uppercase;
  font-weight: 500;
  font-size: clamp(1.25rem, 3vw + 0.1rem, 2rem);
  margin-bottom: 1.25rem;
}

@media screen and (max-width: 992px) {
  .home-model-image-container {
    width: 15rem;
  }
}

@media screen and (max-width: 768px) {
  .home-model-image-container {
    width: 14rem;
  }
}
