.contact-section-container {
  padding-top: 17vh;
}

.contact-heading {
  font-size: var(--md-heading);
  width: 60%;
  text-transform: uppercase;
}

.contact-closing-remark {
  width: 40%;
  margin-top: 4rem;
}

@media screen and (max-width: 768px) {
  .contact-heading {
    width: 80%;
  }

  .contact-closing-remark {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .contact-heading {
    width: 90%;
    font-size: 2.5rem;
  }

  .contact-closing-remark {
    width: 100%;
  }
}
