.mobile-footer-container {
  background-color: var(--color-footer-bg);
  color: var(--color-lighter-text);
  margin-top: 5rem;
  padding: 3.5rem 0 1rem;
  overflow: hidden;
}

.mobile-footer-info-container {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) * 1.6);
}

.mobile-info-heading {
  margin-bottom: 0.875rem;
  font-weight: 400;
  opacity: 0.7;
}

.mobile-contact p {
  margin-top: 0.875rem;
}

.mobile-all-links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
  margin: 2rem 0;
}

.mobile-footer-image-container {
  position: relative;
  width: 10rem;
  aspect-ratio: 1/1;
  display: none;
}

.mobile-footer-image {
  object-fit: cover;
}

.mobile-social-links-container,
.mobile-footer-links {
  gap: 1.15rem;
}

.mobile-footer-links {
  align-items: flex-end;
}

.mobile-social-links-container a,
.mobile-footer-link-list {
  opacity: 0.8;
}

.mobile-creator-brand-container {
  overflow: hidden;
}

.mobile-creator {
  text-align: center;
  opacity: 0.7;
}

.mobile-footer-brand {
  text-transform: uppercase;
  font-size: var(--mobile-xl-heading);
  opacity: 0.6;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
}

.mobile-footer-brand-container {
  overflow: hidden;
}

.mobile-footer-brand-marquee {
  display: flex;
  gap: 3rem;
  align-items: center;
  width: max-content;
  animation: mobile-marquee 15s linear infinite;
  will-change: transform;
  overflow: hidden;
}

.mobile-footer-brand {
  display: inline-block;
  flex-shrink: 0;
  margin: 0;
}

.mobile-footer-brand:last-child {
  margin-right: 3rem;
}

.mobile-footer-brand-container:hover .mobile-footer-brand-marquee,
.mobile-footer-brand-marquee:hover {
  animation-play-state: paused;
}

@keyframes mobile-marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.mobile-brand-models {
  -webkit-text-stroke: 1px var(--color-lighter-text);
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 481px) {
  .mobile-footer-image-container {
    display: block;
  }
}
