.apply-hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 12vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1.25rem;
}

.apply-hero-heading {
  font-size: var(--xl-heading);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -10px;
  line-height: 0.8;
  height: 100%;
}

.apply-hero-heading-become {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
  width: 100%;
  grid-column: span 12;
  grid-row: 1 / 2;
}

.apply-hero-heading-model {
  grid-column: span 12;
  grid-row: 4 / 5;
  text-align: center;
  z-index: 3;
}

.apply-hero-subheading {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  gap: var(--gap);
}

.apply-hero-subheading h3 {
  font-weight: 400;
}

.apply-hero-subtitle {
  grid-column: 10 / 13;
  grid-row: 3 / 4;
}

.apply-hero-image-container {
  position: relative;
  grid-column: 4 / 10;
  grid-row: 2 / 4;
  width: 100%;
  height: 150%;
  transform: translateY(-18%);
}

.apply-hero-image {
  object-fit: cover;
}

@media screen and (max-width: 850px) {
  .apply-hero-subheading,
  .apply-hero-subtitle {
    display: none;
  }

  .apply-hero-heading-model {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .apply-hero-image-container {
    height: 165%;
    transform: translateY(-20%);
  }
}

@media screen and (max-width: 640px) {
  .apply-hero-container {
    width: 100%;
    height: 100vh;
    height: 100svh;
    padding-top: 6vh;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 0.5rem;
  }

  .apply-hero-heading {
    height: fit-content;
    font-weight: 600;
    letter-spacing: -7px;
  }

  .apply-hero-heading-become {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    grid-column: span 6;
    grid-row: 1 / 2;
  }

  .apply-hero-heading-a {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .apply-hero-heading-model {
    grid-column: 3 / 7;
    grid-row: 2 / 3;
    color: var(--color-mix);
    mix-blend-mode: difference;
  }

  .apply-hero-image-container {
    grid-column: 2 / 6;
    grid-row: 3 / 7;
    height: 115%;
    transform: translateY(-15%);
  }
}

@media screen and (max-width: 480px) {
  .apply-hero-heading {
    font-size: clamp(3.85rem, 17vw + 0.3rem, 4.5rem);
  }

  .apply-hero-heading-a {
    grid-column: 1 / 2;
  }

  .apply-hero-heading-model {
    grid-column: 2/ 7;
    align-items: flex-start;
    justify-content: flex-end;
  }

  .apply-hero-image-container {
    grid-column: span 6;
    grid-row: 3 / 7;
    height: 110%;
    transform: translateY(-7.5%);
  }
}
