.container {
  width: 90%;
  max-width: 90rem;
  margin: 0 auto;
}

/* .page-container {
  position: relative;
  width: 100%;
  background-color: var(--color-bg);
  z-index: 2;
} */

.flex {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-between-start {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.divider {
  position: relative;
  width: 100%;
  height: 0.125rem;
  background-color: var(--color-light-text);
  margin: 7rem 0;
}

.stat-divider {
  width: 0.125rem;
  height: 3rem;
  background-color: var(--color-light-text);
}

.model-stat {
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.model-stat span {
  display: block;
}

.stat-heading {
  font-size: 0.875rem;
  font-weight: 500;
  font-style: italic;
}

.stat-value {
  font-size: 0.9375rem;
}

.page-heading {
  font-size: var(--page-heading);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -4px;
}

.form {
  width: 100%;
  background-color: var(--color-primary);
  color: var(--color-lighter-text);
  padding: 4rem;
}

.styled-input-label {
  display: inline-block;
  opacity: 0.9;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.link {
  position: relative;
  text-transform: capitalize;
  width: fit-content;
  /* gap: 0.5rem; */
}
